/*  */

.header {
  background-color: #d93a23;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.shopName {
  font-size: 32px;
  color: #fff;
}

.searchBlock {
  width: 500px;
}

.searchInput {
  border-radius: 10px;
  width: 100%;
  margin: 0;
}

.headerIcons {
  display: flex;
  gap: 10px;
}
