<div class="header">
  <div class="shopName">Scent Haven</div>

  <div class="searchBlock">
    <input class="searchInput" type="text" placeholder="Поиск..." />
  </div>

  <div class="headerIcons">
    <ng-container>
      <mat-icon
        fontIcon="favorite"
        style="color: #fff; width: 32px; height: 32px"
      ></mat-icon>
    </ng-container>
    <ng-container>
      <mat-icon
        fontIcon="shopping_basket"
        style="color: #fff; width: 32px; height: 32px"
      ></mat-icon>
    </ng-container>
  </div>
</div>
