<footer>
  <div class="mainBlock">
    <div class="shopInfo">
      <div style="display: flex; gap: 10px">
        <img width="32" height="32" src="../../assets/icons/basket.png" />
        <p style="color: #000; font-size: 32px; margin: 0">ScentHaven</p>
      </div>
      <p style="color: #000; font-size: 20px; margin: 0">
        Бесплатная доставка для заказов от 20 000 ₸
      </p>

      <div style="display: flex; gap: 10px; margin-top: 8rem">
        <img
          width="32"
          height="32"
          src="../../assets/icons/instagram.png"
          style="cursor: pointer"
        />
        <img
          width="32"
          height="32"
          src="../../assets/icons/facebook.png"
          style="cursor: pointer"
        />
        <img
          width="32"
          height="32"
          src="../../assets/icons/twitter.png"
          style="cursor: pointer"
        />
      </div>
    </div>
    <div class="shopContact">
      <p style="color: #000; font-size: 22px; margin: 0">Нужна помощь ?</p>
      <div>
        <div style="display: flex; gap: 10px">
          <img width="32" height="32" src="../../assets/icons/telephone.png" />
          <p style="color: #000; font-size: 22px; margin: 0">(+123) 456 7890</p>
        </div>
        <div style="display: flex; gap: 10px">
          <img width="32" height="32" src="../../assets/icons/letter.png" />
          <p style="color: #000; font-size: 22px; margin-top: 5px">
            info&#64;scenthaven.com
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
