.productList {
  display: grid;
  margin: 3rem 3.5rem;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
